.reservation-table {
  width: 100%;
  border-collapse: collapse;
}

.reservation-table th,
.reservation-table td {
  padding: 8px;
  text-align: center;
}

.reservation-table th {
  background-color: #f2f2f2;
}

.reservation-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.reservation-table tr:hover {
  background-color: #e5e4e4;
}

.reservation-title {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}

.reservation-title h2 {
  margin-right: 20px;
}

.search-window.novisible {
  display: none;
}
