.incomplete-area {
  width: 300px;
  margin-right: 50px;
  margin-bottom: 30px;
  padding: 20px;

  opacity: 0;
  transition: opacity 3s ease;
  text-align: center;
}

.incomplete-area p {
  margin-bottom: 10px;
}
.incomplete-area.visible {
  opacity: 1;
}

.img-container {
  width: 300px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 204, 204);
}

.img-container img {
  width: 300px;
}
