.incomplete-area {
  width: 300px;
  margin-right: 50px;
  margin-bottom: 30px;
  padding: 20px;

  opacity: 0;
  transition: opacity 3s ease;
  text-align: center;
}

.incomplete-area p {
  margin-bottom: 10px;
}
.incomplete-area.visible {
  opacity: 1;
}

.img-container {
  width: 300px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 204, 204);
}

.img-container img {
  width: 300px;
}

.incomplete-area.card {
  padding: 20px;
  box-shadow: 10px 10px 15px -10px #9e9e9e;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.incomplete-area.card:hover {
  background-color: #fff;
  cursor: auto;
}
