/* index.css */

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 30px auto;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}

/* プライマリーボタンのスタイル */
.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* セカンダリーボタンのスタイル */
.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.center-container {
  display: flex;
  justify-content: center;
}

.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 10px;
  margin-right: 20px;
  text-align: center;
  border: none;
  color: black;
  width: 100px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #cfe2f3;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #6db6f5;
}

.btn-primary {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  background-color: #ffcccc;
  padding: 10px;
  border-radius: 5px;
}

.success-message {
  background-color: #ccf2ff;
  padding: 10px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type='text'],
input[type='number'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* 入力フォームのレイアウト */
.form-table {
  width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
}

.form-table th,
.form-table td {
  padding: 20px;
  border: 1px solid #ccc;
}

.form-table th {
  text-align: left;
  width: 30%;
  background-color: #eee;
}
.form-table td {
  width: 70%;
}

.form-table input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 400px;
}

.form-table input[type='date'] {
  width: 65%;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  max-width: 300px;
}
.form-table select {
  width: 20%;
  height: 43px;
  padding: 10px;
  border-radius: 5px;

  border: 1px solid #ccc;
  max-width: 200px;
}

/** カードdivのレイアウト */
.card {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* border: 1px solid rgb(202, 202, 202); */
